body {
	background-image: url("../bg.267f96d6a0b6.png");
	background-repeat: no-repeat;
	background-size: cover;
}
#title {
	text-align: center;
	margin-top: 50px;
}
#help {
	text-align: center;
}
#form {
	height: 250px;
	background-image: url("../bg-div.727389f95eac.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 10px;
	margin-left: 480px;
	margin-right: 480px;
	padding: 50px 0;
	border: 2px solid black;
	border-radius: 5px;
}
#label {
	position: absolute;
	left: 650px;
	top: 200px;
}
#input-file {
	position: absolute;
	left: 600px;
	top: 400px;
}
#btn-submit {
	position: absolute;
	bottom: 330px;
	right: 570px;
}