body {
	background-image: url("../bg.267f96d6a0b6.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#title {
	text-align: center;
	margin-top: 100px;
}

#help {
	text-align: center;
}

#form {
	height: 250px;
	background-image: url("../bg-div.727389f95eac.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 10px;
	margin-left: 480px;
	margin-right: 480px;
	padding: 50px 0;
	border: 2px solid black;
	border-radius: 5px;
}

#label {
	position: absolute;
	left: 630px;
	top: 240px;
}

#input-file {
	position: absolute;
	left: 585px;
	top: 290px;
}

#btn-submit {
	width: 200px;
	position: absolute;
	left: 580px;
	top: 350px;
}

/* animasi pada title */
.main-title{
  -webkit-animation: colorchange 1s infinite;
  -webkit-animation-direction: alternate;
  text-align: center;
}

/* animasi colorchange */
@-webkit-keyframes colorchange {
    0% {
        -webkit-text-stroke: 5px #0fb8ad;
    letter-spacing: 0;
    }
  50% {
    -webkit-text-stroke: 7.5px  #1fc8db;
  }
    100% {
        -webkit-text-stroke: 10px  #2cb5e8;
    letter-spacing: 18px;
    }
}

#my-list{
	margin-top: 80px;
}

#my-list .my-list-title{
	font-size: 40px;
	margin-bottom: 1em;
	color: white;
	text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-align: center;
}

.to-do-list{
	text-align: center;
	background-image: url("../bg-div.727389f95eac.png");
	position: relative;
	z-index: 15;
	margin-bottom: 60px;
	-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

.to-do-list:after{
	content:"";
	display:block;
	height:25px; /* Which is the padding of div.container */
}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	margin-right: -15px;
	margin-left: -15px;
}

.flex-item{
	padding: 0 15px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 20%;
}

.to-do-list:hover {
	-webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
	-webkit-transform: translate(0, -5px);
	-moz-transform: translate(0, -5px);
	-o-transform: translate(0, -5px);
	transform: translate(0, -5px);
}

.to-do-list .to-do-list-title {
	font-size: 20px;
	font-weight: 700;
	padding: 10px 10px 0;
}

.to-do-list .to-do-list-date-added {
	font-size: 12px;
	padding: 0 10px;
}

.to-do-list .to-do-list-description {
	padding: 10px 25px;
	z-index: 15;
	height: 125px;
	text-align: justify;
	overflow: auto;
}

header nav{
	background-image: url("../bg-div.727389f95eac.png");
	font-weight: bold;
}

.navbar-static-top{
	margin-bottom:19px;
}

.navbar-header a:hover{
	background-color: white;
	color: black;
}

.nav a:hover{
	background-color: white;
	color: black;
}
.navbar a{
	color: black;
}

.navbar-nav a{
	border-right: 1px solid white;
}


footer p{
	text-align: center;
	padding-top: 10px;
}