{% extends "layout/base.html" %}

{% block content %}
<div id="title" >
	<h1>Submit Your Schedule</h1>
</div>

<div id="help">
	<h3>Upload a CSV file! maximum attachments: 1</h3>
	<h4 id="label">Rule for the CSV:</h4>
	<h4 id="label2">Nama,Hari Libur,[Pagi;Siang;Malam]</h4>
</div>

<div id="form" style="text-align: center;">
	<form action="{% url 'main:generate-from-file' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<input id="jumlah-shift" type="text" name="jumlah-shift" placeholder="Pilih jumlah shift: 1,2, atau 3" />
		<h5 for="file"><b>Choose a file !</b></h5>
		<input id="input-file" type="file" name="input-file"/>
		<input id="btn-submit" type="submit" class="btn btn-lg btn-block btn-info" value="Generate Schedule"/>
	</form>
</div>
<div id="form2" style="text-align: center;">
	<form action="{% url 'main:generate-from-csv' %}" method="POST">
		<h5 id="" for="file"><b>Copy your Schedule into here !</b></h5>
		{% csrf_token %}
		<input type="text" name="jumlah-shift" placeholder="Pilih jumlah shift: 1,2, atau 3" />
		<textarea name="input-csv" id="text-csv" class="form-control"></textarea>
		<input id="btn-submit" type="submit" class="btn btn-lg btn-block btn-info" value="Generate Schedule"/>
	</form>
</div>
{% endblock %}