{% extends "layout/base.html" %}

{% block content %}
<section name="my-list" id="my-list">
	<h1 class="main-title">SCHEDULE</h1>
	<div class="container">
		<div class="flex">
			{% for hari, daftar_shift in schedule.items %}
				<div class="flex-item">
					<div class="jadwal-hari">
						<div class="hari">
							{{hari}}
						</div>
						<div class="jadwal">
							{% for shift, daftar_pekerja in daftar_shift.items %}
								<div id="jadwal-shift">
									<div>
										<h4 style="border-bottom: 1px solid black; text-align: center;">{{shift}}</h4>
									</div>
									<div>
										{% for pekerja in daftar_pekerja %}
											<p>{{pekerja}}</p>
										{% endfor %}
									</div>
									<br style="clear:both;">
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

{% if flag_not_complete %}
<div class="alert alert-danger alert-dismissable text-center" style="margin-top: 10px;">
	<a class="close" href="#" data-dismiss="alert" aria-label="close">x</a>
	<strong>Jadwal Anda Tidak Lengkap</strong>
</div>
{% endif %}
{% endblock %}